main {
    text-align: center;
}

/* img {
    
} */

.site-maintainer {
    background: #E4E4E4;
    width: 10%;
    height: 10%;
    border-radius: 25px;
    padding: 20px;
}

.logo {
    height: 1em;
    width: auto;
    background-color: #E4E4E4;
    border-radius: 1px;
    border-color: pink;
    padding: 1px;
}