img {
    float: center;
    width:  100px;
    height: 150px;
    object-fit: cover;
}

header ul {
    list-style-type: none;
    margin: 1em;
    padding: 1em;
}

header li {
    display: inline;
}

